


<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" 
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="icone" href="{{ base_url('admin') }}">
            <img class="img-fluid" alt="Logo ADECIO" src="{{ base_url('assets/images/ADECIO.png') }}" width="115"/>
        </a>
        <div class="collapse navbar-collapse justify-content-around" id="navbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link colorpro dosis" href="#" title="COACHING ENTREPRISE">COACHING ENTREPRISE</a>
                    <ul class="ulsousmenu">
                        <a class=" dosis sousmenu" href="{{ base_url('admin/coachingentreprise/coachingindividuel') }}">
                            <li class="">
                                Coaching individuel
                            </li>
                        </a>
                         <a class=" dosis sousmenu" href="{{ base_url('admin/coachingentreprise/coachingequipes') }}">
                            <li class="">
                                Coaching équipes
                            </li>
                        </a>
                         <a class="dosis sousmenu" href="{{ base_url('admin/coachingentreprise/coachingorganisations') }}">
                            <li class="">
                                Coaching Organisations
                            </li>
                        </a>
                    </ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link colorparticulier  dosis" href="{{ base_url('admin/coachingparticuliers') }}">COACHING PARTICULIERS</a>
                    
                </li>
                <li class="nav-item ">
                    <a class="nav-link colorpro dosis" href="#">FORMATION</a>
                     <ul class="ulsousmenu">
                        <a class=" dosis sousmenu" href="#">
                            <li class="">
                                Formation 1
                            </li>
                        </a>
                         <a class=" dosis sousmenu" href="#">
                            <li class="">
                                Formation 2
                            </li>
                        </a>
                         <a class=" dosis sousmenu" href="#">
                            <li class="">
                                Formation 3
                            </li>
                        </a>
                          <a class=" dosis sousmenu" href="#">
                            <li class="">
                                Formation 4
                            </li>
                        </a>
                          <a class=" dosis sousmenu" href="#">
                            <li class="">
                                Formation 5
                            </li>
                        </a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorpro dosis" href="#">ADECIO</a>
                    <ul class="ulsousmenu">
                        <a class=" dosis sousmenu" href="#">
                            <li class="">
                                La Coach
                            </li>
                        </a>
                         <a class=" dosis sousmenu" href="#">
                            <li class="">
                                Les valeurs
                            </li>
                        </a>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorpro dosis" href="#">CONTACT</a>
                </li>
            </ul>

        </div>

    </nav>
</div>


<div id="scrollUp">
<a href="#top"><i class="bi bi-chevron-double-up"></i></a>
</div>
