
<section>


    <div class="grid-containerFooterHaut container-fluid py-4  ml-0 mr-0 fonddegradeinv" role="img" aria-label="Eventail">
        <div class="typeGaucheFooterHaut"></div>
         <div class="typeCentreFooterHaut">
            <h4 class="text-txtitre dosis">ACCES RAPIDES</h4>
            <hr class="my-1 colorhr">
            <a href="{{ base_url('admin/apropos') }}" class="lienrapide"><h6 class="krub my-auto py-1">La coach</h6></a>
            <hr class="my-1 colorhr">
            <a href="{{ base_url('admin/coachingentreprise/coachingindividuel') }}" class="lienrapide"><h6 class="krub my-auto py-1">Coaching individuel en entreprise</h6></a>
            <hr class="my-1 colorhr">
             <a href="{{ base_url('admin/coachingentreprise/coachingequipes') }}" class="lienrapide"><h6 class="krub my-auto py-1"> Pourquoi le Team building&#8239;?</h6></a>
            <hr class="my-1 colorhr">
             <a href="{{ base_url('admin/coachingparticuliers') }}" class="lienrapide"><h6 class="krub my-auto py-1">Pourquoi le coaching individuel&#8239;?</h6></a>
            <hr class="my-1 colorhr">
            <!--<a href="" class="lienrapide"><h6 class="krub my-auto py-1">Plan du site</h6></a>
            <hr class="my-1 colorhr mb-3">-->
        </div>
        <div class="typeDroiteFooterHaut"> 
            <div class="row">
                <div>
                    <img class="img-fluid" alt="Logo ADECIO" src="{{ base_url('assets/images/ADECIO.png') }}" width="30%"/>
                    <h6 class="krub mb-4">Accompagner vos potentiels professionnels</h6>
                </div>

                <div class="row mt-4">
                    <div class="col-6 krub">
                        <h6>Karine Corbière</h6>
                        <a href="mailto:k.corbiere@adecio.fr?subject=Message%20du%20site%20Adecio&body=Bonjour%20Karine" class="lienrapide"><h6>k.corbiere@adecio.fr</h6></a>
                        <a class="lienrapide" href="tel:+33615337264"><h6>06 15 33 72 64</h6></a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.facebook.com/adecio.karinecorbiere" target="_blanck" class="bi bi-facebook"  style=" color:#3b5998;"></a>
                        <a href="https://www.linkedin.com/in/karine-corbiere-a9369993/" target="_blanck"  class="bi bi-linkedin" style=" color: #0a66c2;"></a>  
                        <a href="https://www.instagram.com/karine.corbiere/?hl=fr"  target="_blanck"  class="bi bi-instagram" style=" color: #000 ;"></a>
                    </div>
                </div>
            </div>
        </div>

</section>
