<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagner">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h1 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}</h1>
                <h5 class="text-txcorps krub espacement texteditor" id="tx_1">{{ articles[1].articles | raw }}</h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegrade">
        <div class="grid-container text-center">
            <div class="A1 titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre">DIRIGEANTS<br/>& MANAGERS</h4>
            </div>
            <div class="A2 bg-bgcentre row roundedHautAdecio">
                <h5 class="m-auto dosis text-txcorps espacement texteditor" id="tx_2">
                   {{ articles[2].articles | raw }} 
                </h5>
            </div>
            <div class="A3 row">
                <div class="bg-bgbas gauche">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgbas gauche roundedBasAdecio">
                    <a href="{{ base_url('coachingentreprise/coachingindividuel') }}" class="lienpro"><h5 class="text-txbas dosis">COACHING INDIVIDUEL<br>DES MANAGERS ET DIRIGEANTS</h5></a>
                </div>
            </div>

            <div class="B1 titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre">DIRIGEANTS<br/>& MANAGERS</h4>
            </div>
            <div class="B2 bg-bgcentre row roundedHautAdecio">
                <h5 class="m-auto dosis text-txcorps espacement texteditor" id="tx_3">
                   {{ articles[3].articles | raw }}
                </h5>
            </div>
            <div class="B3 row bg-bgcentre roundedBasAdecio">
                <div class="B3haut">
                    <div class="bg-bgbas centrehaut">
                        <div class="trianglep m-auto"></div>
                    </div>        
                    <div class="bg-bgbas text-txbas dosis centrehaut py-2">
                        <a href="{{ base_url('coachingentreprise/coachingequipes') }}" class="lienpro"><h5 class="my-auto">TEAM BUILDING</h5></a>
                    </div> 
                </div>
                <div class="B3bas">
                    <div class="bg-bgbas mt-1 centrebas">
                        <div class="trianglep m-auto"></div>
                    </div>
                    <div class="bg-bgbas text-txbas dosis roundedBasAdecio centrebas py-2">
                        <a href="{{ base_url('formations/gestiondutemps') }}" class="lienpro"><h5 class="my-auto">FORMATIONS</h5></a>
                    </div>
                </div>
            </div>

            <div class="C1 titre row  shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-bgasdroite">PARTICULIERS</h4>
            </div>
            <div class="C2 bg-bgcentre row roundedHautAdecio ">
                <h5 class="m-auto dosis text-txcorps espacement texteditor" id="tx_4">
                    {{ articles[4].articles | raw }}
                </h5>

            </div>
            <div class="C3 row">
                <div class="bg-bgasdroite droite">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgasdroite droite roundedBasAdecio dosis text-txdroite">
                    <a href="{{ base_url('coachingparticuliers') }}" class="lienperso"><h5>COACHING INDIVIDUEL</h5></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5 bg-white">
    <div class="container my-4">
        <div class="row text-center justify-content-center mb-1">
            <div class ="col-md-12 col-lg-8 mb-3">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_5">{{ articles[5].articles | raw }}</h3>
                <h5 class="text-txcorps krub espacement texteditor" id="tx_6">{{ articles[6].articles | raw }}
                </h5>
            </div>
        </div>

        <div class="row text-center justify-content-center dosis">
            <div class="col-md-12 col-lg-5">
                <div class="grid-container2">

                    <a href="{{ base_url('apropos') }}" class="lienpro M1 roundedHautAdecio bg-bgbas text-txbas pt-2 mb-0"><h5 class="">EN SAVOIR PLUS SUR LE COACHING</h5></a>
                    <div class="M2"></div>
                    <div class="N1">
                        <div class="bg-bgbas gauchepro">
                            <div class="trianglepInv m-auto"></div>
                        </div>

                    </div>
                    <div class="N2"></div>
                    <div class="O"></div>
                    <div class="P1"></div>
                    <div class="P2 m-0 p-0">
                        <div class="bg-bgasdroite droiteperso">
                            <div class="trianglepblanc m-auto"></div>
                        </div>
                    </div>
                    <div class="Q1 m-0 p-0"></div>
                    <a href="{{ base_url('apropos#histoire') }}" class="lienpro Q2 roundedBasAdecio bg-bgasdroite text-txdroite mt-0 mb-0"><h5 class="mt-1">DÉCOUVRIR LA COACH & SES VALEURS</h5></a>
                </div>

            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function() {
        $('.M1').on("mouseover", function () {
            $('.gauchepro').removeClass('bg-bgbas');
            $('.gauchepro').css("background-color", '#338f98');
            //$('.M1 h5').css("font-weight", '600');
        });
        $('.M1').on("mouseout", function () {
            $('.gauchepro').addClass('bg-bgbas');
            $('.gauchepro').css("background-color", '');
            //$('.M1 h5').css("font-weight", '400');
        });
        $('.Q2').on("mouseover", function () {
            $('.droiteperso').removeClass('bg-bgasdroite');
            $('.droiteperso').css("background-color", '#ED638C');
            //$('.Q2 h5').css("font-weight", '600');
        });
        $('.Q2').on("mouseout", function () {
            $('.droiteperso').addClass('bg-bgasdroite');
            $('.droiteperso').css("background-color", '');
            //$('.Q2 h5').css("font-weight", '400');
        });


        $(window).scroll(function () { 
            if ($(this).scrollTop() >= 200 ) {  
               
                $('#scrollUp').css("visibility", "visible");
                $('#scrollUp').css('bottom','50px');
                console.log('sup');
            } else { 
               
                $('#scrollUp').css('visibility','');
               
                console.log('inf');
            }
        });
    });
</script>