<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  lang="fr">
    <head>
        {{ include('admin/commun/head.html.twig') }}
        {{ include('admin/commun/admin.js.twig') }}
    </head>
    
    <body class="text-couleurText">
        
        <header> 
          {{ include('admin/commun/nav.html.twig') }}  
        </header>	
        
        <main class="w-100">
            {{ include('admin/commun/menuflottant.html.twig') }}
            {{ include('admin/modal/modalTexte.html.twig') }}
            {% block content %}
            {% endblock %}
          
        </main>
        
        <footer>
            {{ include('admin/commun/footer.html.twig') }}
            {{ include('commun/copyright.html.twig') }}
        </footer>
    </body>
</html>
