
<section >
    <div class="container-fluid">
        
        <div class="row d-flex justify-content-center my-5">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center">

                <div class="row {{couleur}} align-items-center justify-content-center">
                    <div class="text-center">{{ messageConnexion }}</div>


                </div>
            </div> 
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-10 divlogin  flex justify-content-center">
                <div class="row  justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="text-center krubBold text-txtitre">
                            <h1>Connexion</h1>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        {{ form_open('', 'id="connexion"') }}
                            <div class="form-group">
                                <label class="col-form-label dosisSB text-txcorps" for="identifiant">Identifiant</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span class="bi bi-person-fill"></span></span>
                                    </div>
                                    <input type="text" class="form-control {{ isValidI }}" placeholder="Identifiant" id="identifiant" name="identifiant" >
                                    <div class="invalid-feedback">Indiquer votre email ou pseudo</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label dosisSB text-txcorps" for="mdp">Mot de passe</label>
                                <div class="input-group">
                                   <div class="input-group-prepend">
                                        <span class="input-group-text"><span class="bi bi-key-fill"></span></span>
                                    </div>
                                    <input type="password"  class="form-control {{ isValidMdp }}" placeholder="Mot de passe" id="mdp" name="mdp">
                                    <div class="invalid-feedback">Indiquer votre mot de passe </div>
                                </div>
                            </div>

                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-lg btn-primary mb-2 px-3 ">Valider</button>
                            </div>
                        {{ form_close() }}
                    </div>
                </div>  
            </div> 
        </div>
    </div>

</section>

