<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagnerType">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h1 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}</h1>
                <h5 class="text-txcorps krub espacement texteditor"  id="tx_1">{{ articles[1].articles | raw}}

                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegradeadecio"  role="img" aria-label="Eventail">
        <div class="grid-container-adecio-haut">
            <div class="gauchehautadecio">
                <div class="mb-5">
                    <img class="img-fluid" alt="Karine" src="{{ base_url('assets/images/Karine.jpg') }}" width="80%"/>
                </div>
            </div>
            <div class="gauchebasadecio">
                <div class="krubBoldItalic texteditor" id="tx_2">{{ articles[2].articles | raw}}
                </div>
            </div>
            <div class="centrehautadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_3">{{ articles[3].articles | raw}} </h5> 
                <div class="krub texteditor" id="tx_4">{{ articles[4].articles | raw}}</div> 
            </div>
            <div class="centrebasadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5">{{ articles[5].articles | raw}}</h5> 
                <div class="krub texteditor mb-5" id="tx_6">{{ articles[6].articles | raw}}
                </div> 
                <div class="bg-bgbas centrehaut">
                    <div class="trianglepblanc m-auto"></div>
                </div>        
                <div class="bg-bgbas meContacter text-txbas dosis centrehaut py-1 roundedBasAdecio text-center">
                    <a href="{{ base_url('contact#accompagnerType') }}" class="lienpro"><h5 class="my-auto">ME CONTACTER</h5></a>
                </div> 
            </div>
            <div class="flechehautadecio">
                <div class="flechecentreadecio">
                    <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
            </div>
            <div class="flechebasadecio">
                <div class="flechecentreadecio">
                    <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
            </div>
            <div class="droitehautadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_7">{{ articles[7].articles | raw}}</h5> 
                <div class="krub texteditor" id="tx_8">{{ articles[8].articles | raw}}
                </div> 
            </div>
            <div class="droitebasadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_9">{{ articles[9].articles | raw}}</h5> 
                <div class="krub texteditor" id="tx_10">{{ articles[10].articles | raw}}
                </div>
                <div class="mt-5">
                    <h5 class="text-txtitre2 dosisSB text-uppercase texteditor"  id="tx_11">{{ articles[11].articles | raw}}</h5> 
                    <hr class="my-1 colorhr2">
                    <div class="krub texteditor" id="tx_12">{{ articles[12].articles | raw}}

                    </div> 
                    <hr class="my-1 colorhr2">
                    <div class="krub texteditor" id="tx_13">{{ articles[13].articles | raw}}

                    </div> 
                    <hr class="my-1 colorhr2">
                    <div class="krub texteditor" id="tx_14">{{ articles[14].articles | raw}}

                    </div> 
                    <hr class="my-1 colorhr2">
                    <div class="krub texteditor" id="tx_15">{{ articles[15].articles | raw}}

                    </div> 
                    <hr class="my-1 colorhr2">
                    <div class="krub texteditor" id="tx_16">{{ articles[16].articles | raw}}

                    </div> 
                    <hr class="my-1 colorhr2">
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid ml-0 mr-0" id="histoire">
        <div class="grid-container-adecio2">
            <div class="gaucheadecio2"><h3 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_17">{{ articles[17].articles | raw}}</h3> 
                <div class="krub texteditor mb-5" id="tx_18">{{ articles[18].articles | raw}}  </div>
            </div>
            <div class="centreadecio2">
                <h4 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_19">{{ articles[19].articles | raw}} </h4>
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_20">{{ articles[20].articles | raw}}

                </div> 
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_21">{{ articles[21].articles | raw}}

                </div> 
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_22"> {{ articles[22].articles | raw}}

                </div> 
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_23">{{ articles[23].articles | raw}}

                </div> 
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_24">{{ articles[24].articles | raw}}

                </div>
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_25">{{ articles[25].articles | raw}}

                </div>
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_26">{{ articles[26].articles | raw}}

                </div>
            </div>
            <div class="droiteadecio2">
                <h4 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_27">{{ articles[27].articles | raw}}</h4>
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_28">{{ articles[28].articles | raw}}


                </div> 
                <hr class="my-1 colorhr2">
                <div class="krub texteditor my-3" id="tx_29">{{ articles[29].articles | raw}}

                </div>

            </div>
            <div class="centreabasdecio2">
                <div class="roundedHautAdecio prendreRdv bg-bgasdroite text-txbas pt-2 mb-0 dosis text-center">
                    <a href="mailto:k.corbiere@adecio.fr?subject=Message%20du%20site%20Adecio&body=Bonjour%20Karine" class="lienperso" >
                        <h5 class=" mb-0">PRENDRE RENDEZ-VOUS</h5>
                    </a>
                </div>

                <div class="bg-bgasdroite gauchepro">
                    <div class="trianglepInv m-auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ml-0 mr-0 fonddegradeadecio3">
        <div class="grid-container-adecio3">
            <div class="titreadecio3">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor text-center mb-4"  id="tx_30">{{ articles[30].articles | raw}}
                </h3>
            </div>
            <div class="gaucheadecio3">
                <div class="bg-transparent">
                    <div class="trianglepInvAdecio m-auto"></div>
                </div>
                <hr class="my-0 colorhr3">
                <div class="krub texteditor my-3" id="tx_31">{{ articles[31].articles | raw}}

                </div>
                <hr class="my-1 colorhr3">

            </div>
            <div class="centreadecio3">
                <div class="bg-transparent">
                    <div class="trianglepInvAdeciotr m-auto"></div>
                </div>
                <hr class="my-0 colorhr2">
                <div class="krub texteditor my-3" id="tx_32">{{ articles[32].articles | raw}}

                </div>
                <hr class="my-0 colorhr2">
                <div class="bg-transparent">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
            </div>
            <div class="droiteadecio3">
                <div class="bg-transparent">
                    <div class="trianglepInvAdecio m-auto"></div>
                </div>
                <hr class="my-0 colorhr3">
                <div class="krub texteditor my-3" id="tx_33">{{ articles[33].articles | raw}}

                </div>
                <hr class="my-1 colorhr3">
            </div>


        </div>
    </div>
    <div class="container-fluid ml-0 mr-0 separation ">

    </div>
    <div class="container-fluid ml-0 mr-0 mt-5">
        <div class="grid-container-adecio4">
            <div class="titreadecio4">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor text-center mb-4"  id="tx_34">{{ articles[34].articles | raw}}</h3>

            </div>
            <div class="gaucheadecio4 text-center">

                <div class="bg-bgbas gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txbas dosis text-uppercase texteditor" id="tx_35">{{ articles[35].articles | raw}}</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio2 m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_36">{{ articles[36].articles | raw}}

                    </div> 
                    <hr class="my-1 bgcentre colorhr4">
                    <div class="krub texteditor my-3" id="tx_37">{{ articles[37].articles | raw}}
                    </div> 

                    <div>
                        <img class="img-fluid imageeditor" data-image="{{ images[1].nom}}.{{ images[1].ext}}"
                             id="img_1" alt="" src="{{base_url('assets/images/upload')}}/{{ images[1].nom}}.{{ images[1].ext}}"/>
                    </div>
                </div>


            </div>
            <div class="centreadecio4 text-center">
                <div class="bg-txtitre2 gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txdroite dosis text-uppercase texteditor" id="tx_38">{{ articles[38].articles | raw}}</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_39">{{ articles[39].articles | raw}}


                    </div> 
                    <hr class="my-1 bgcentre colorhr2">

                    <div class="krub texteditor my-3" id="tx_40">{{ articles[40].articles | raw}}

                    </div> 
                     <div>
                        <img class="img-fluid imageeditor" data-image="{{ images[2].nom}}.{{ images[2].ext}}"
                             id="img_2" alt="" src="{{base_url('assets/images/upload')}}/{{ images[2].nom}}.{{ images[2].ext}}"/>
                    </div>
                </div>
            </div>
            <div class="droiteadecio4 text-center">
                <div class="bg-bgbas gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txbas dosis text-uppercase texteditor"id="tx_41">{{ articles[41].articles | raw}}</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio2 m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_42">{{ articles[42].articles | raw}}

                    </div> 
                    <hr class="my-1 bgcentre colorhr4">
                    <div class="krub texteditor my-3" id="tx_43">{{ articles[43].articles | raw}}

                    </div> 
                     <div>
                        <img class="img-fluid imageeditor" data-image="{{ images[3].nom}}.{{ images[3].ext}}"
                             id="img_3" alt="" src="{{base_url('assets/images/upload')}}/{{ images[3].nom}}.{{ images[3].ext}}"/>
                    </div>
                </div>
            </div>
            <div class="gauchebasadecio4 text-center">
                <div class="bg-txtitre2 gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txdroite dosis text-uppercase texteditor" id="tx_44">{{ articles[44].articles | raw}}</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_45">{{ articles[45].articles | raw}}

                    </div> 
                    <hr class="my-1 bgcentre colorhr2">
                    <div class="krub texteditor my-3" id="tx_46">{{ articles[46].articles | raw}}
                    </div> 
                     <div>
                        <img class="img-fluid imageeditor" data-image="{{ images[4].nom}}.{{ images[4].ext}}"
                             id="img_4" alt="" src="{{base_url('assets/images/upload')}}/{{ images[4].nom}}.{{ images[4].ext}}"/>
                    </div>
                </div>
            </div>
            <div class="centrebasadecio4 text-center">
                <div class="bg-bgbas gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txbas dosis text-uppercase texteditor" id="tx_47">{{ articles[47].articles | raw}}</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio2 m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_48">{{ articles[48].articles | raw}} </div> 
                    <hr class="my-1 bgcentre colorhr4">
                    <div class="krub texteditor my-3" id="tx_49">{{ articles[49].articles | raw}}
                    </div> 
                     <div>
                        <img class="img-fluid imageeditor" data-image="{{ images[5].nom}}.{{ images[5].ext}}"
                             id="img_5" alt="" src="{{base_url('assets/images/upload')}}/{{ images[5].nom}}.{{ images[5].ext}}"/>
                    </div>
                </div>
            </div>
            <div class="broitebasadecio4 text-center">
                <div class="bg-txtitre2 gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txdroite dosis text-uppercase texteditor" id="tx_50">{{ articles[50].articles | raw}}</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_51"> {{ articles[51].articles | raw}}
                    </div> 
                    <hr class="my-1 bgcentre colorhr4">
                    <div class="krub texteditor my-3" id="tx_52">{{ articles[52].articles | raw}}

                    </div> 
                     <div>
                        <img class="img-fluid imageeditor" data-image="{{ images[6].nom}}.{{ images[6].ext}}"
                             id="img_6" alt="" src="{{base_url('assets/images/upload')}}/{{ images[6].nom}}.{{ images[6].ext}}"/>
                    </div>
                </div>
            </div>

        </div>
</section>

<script>
    $(document).ready(function () {
        $('.meContacter').on("mouseover", function () {
            $('.centrehaut').removeClass('bg-bgbas');
            $('.centrehaut').css("background-color", '#338f98');

        });
        $('.meContacter').on("mouseout", function () {
            $('.centrehaut').addClass('bg-bgbas');
            $('.centrehaut').css("background-color", '');

        });
        $('.prendreRdv').on("mouseover", function () {
            $('.gauchepro').removeClass('bg-bgasdroite');
            $('.gauchepro').css("background-color", '#ED638C');

        });
        $('.prendreRdv').on("mouseout", function () {
            $('.gauchepro').addClass('bg-bgasdroite');
            $('.gauchepro').css("background-color", '');

        });


        $(window).scroll(function () {
            if ($(this).scrollTop() >= 200) {

                $('#scrollUp').css("visibility", "visible");
                $('#scrollUp').css('bottom', '50px');
                console.log('sup');
            } else {

                $('#scrollUp').css('visibility', '');

                console.log('inf');
            }
        });
    });
</script>