<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagnerFormations">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h1 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}</h1>
                <h5 class="text-txcorps krub espacement texteditor" id="tx_1">{{ articles[1].articles | raw }}</h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegrade">
        <div class="grid-containerFormations text-center">
            <div class="A1Formations row titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre texteditor" id="tx_2">{{ articles[2].articles | raw }} </h4>
            </div>
            <div class="A2Formations bg-bgcentre row roundedHautAdecio">
                <h5 class="dosis text-txcorps espacement texteditor" id="tx_3">
                   {{ articles[3].articles | raw }} 
                </h5>
            </div>
            <div class="A3Formations row">
                <div class="bg-bgbas gauche">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgbas gauche roundedBasAdecio">
                    <h5 class="text-txbas dosis texteditor" id="tx_4">{{ articles[4].articles | raw }} </h5>
                </div>
            </div>

            <div class="B1Formations row titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre texteditor" id="tx_5">{{ articles[5].articles | raw }} </h4>
            </div>
            <div class="B2Formations bg-bgcentre row roundedHautAdecio">
                <h5 class="dosis text-txcorps espacement texteditor" id="tx_6">
                   {{ articles[6].articles | raw }}
                </h5>
            </div>
            <div class="B3Formations row">
                <div class="bg-bgbas gauche">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgbas gauche roundedBasAdecio">
                  <h5 class="text-txbas dosis texteditor" id="tx_7">{{ articles[7].articles | raw }} </h5>
                </div>
            </div>

            <div class="C1Formations titre row  shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre texteditor" id="tx_8">{{ articles[8].articles | raw }} </h4>
            </div>
            <div class="C2Formations bg-bgcentre row roundedHautAdecio ">
                <h5 class="dosis text-txcorps espacement texteditor" id="tx_9">
                    {{ articles[9].articles | raw }}
                </h5>

            </div>
            <div class="C3Formations row">
                <div class="bg-bgbas gauche">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgbas gauche roundedBasAdecio">
                    <h5 class="text-txbas dosis texteditor" id="tx_10">{{ articles[10].articles | raw }} </h5>
                </div>
            </div>
        </div>
    
   
        <div class="grid-containerFormations2 text-center mt-5">
            <div class="A1Formations2 row titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre texteditor" id="tx_11">{{ articles[11].articles | raw }} </h4>
            </div>
            <div class="A2Formations2 bg-bgcentre row roundedHautAdecio">
                <h5 class="dosis text-txcorps espacement texteditor" id="tx_12"> 
                   {{ articles[12].articles | raw }} 
                </h5>
            </div>
            <div class="A3Formations2 row">
                <div class="bg-bgbas gauche">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgbas gauche roundedBasAdecio">
                    <h5 class="text-txbas dosis texteditor" id="tx_13">{{ articles[13].articles | raw }} </h5>
                </div>
            </div>

            <div class="B1Formations2 row titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre texteditor" id="tx_14">{{ articles[14].articles | raw }} </h4>
            </div>
            <div class="B2Formations2 bg-bgcentre row roundedHautAdecio">
                <h5 class="dosis text-txcorps espacement texteditor" id="tx_15">
                   {{ articles[15].articles | raw }}
                </h5>
            </div>
            <div class="B3Formations2 row">
                <div class="bg-bgbas gauche">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgbas gauche roundedBasAdecio">
                    <h5 class="text-txbas dosis texteditor" id="tx_16">{{ articles[16].articles | raw }} </h5>
                </div>
            </div>

           
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $(window).scroll(function () { 
            if ($(this).scrollTop() >= 200 ) {  
                $('#scrollUp').css("visibility", "visible");
                $('#scrollUp').css('bottom','50px');
                console.log('sup');
            } else {        
                $('#scrollUp').css('visibility','');     
                console.log('inf');
            }
        });
    });
</script>