<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>


<section id="accompagnerType">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}</h3>
                <h5 class="text-txcorps krub espacement texteditor"  id="tx_1">{{ articles[1].articles | raw}}
                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 pb-0 fonddegrade">
        <div class="grid-containerFormation">
            <div class="gaucheFormation">
                <div class="container text-">
                    <img class="img-fluid imageeditor mb-5" id="img_1" alt="" src="https://picsum.photos/500?random=1"/>
                </div>
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_2">{{ articles[2].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_3">{{ articles[3].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_4">{{ articles[4].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_5">{{ articles[5].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_6">{{ articles[6].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_7">{{ articles[7].articles | raw }}
                </div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_8">{{ articles[8].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_9">{{ articles[9].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_10">{{ articles[10].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_11">{{ articles[11].articles | raw }}</div> 
                

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_12">{{ articles[12].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_13">{{ articles[13].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_14">{{ articles[14].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_15">{{ articles[15].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_16">{{ articles[16].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_17">{{ articles[17].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_18">{{ articles[18].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_19">{{ articles[19].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_20">{{ articles[20].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_21">{{ articles[21].articles | raw }}</div> 

               
            </div>
            <div class="centreFormation">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_22">{{ articles[22].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_23">{{ articles[23].articles | raw }}
                </div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_24">{{ articles[24].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_25">{{ articles[25].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_26">{{ articles[26].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_27">{{ articles[27].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_28">{{ articles[28].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_29">{{ articles[29].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_30">{{ articles[30].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_31">{{ articles[31].articles | raw }}
                </div> 
                
                <div class="container text-center">
                    <img class="img-fluid imageeditor mb-5 mt-5" id="img_2" alt="" src="https://picsum.photos/500?random=2"/>
                </div>
                  
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_32">{{ articles[32].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_33">{{ articles[33].articles | raw }}
                </div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_34">{{ articles[34].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_35">{{ articles[35].articles | raw }}
                </div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_36">{{ articles[36].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_37">{{ articles[37].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_38">{{ articles[38].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_39">{{ articles[39].articles | raw }}
                </div> 
                
                 <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_40">{{ articles[40].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_41">{{ articles[41].articles | raw }}
                </div> 

                <div class="row rdvEnBas">

                    <div class="roundedHautAdecio prendreRdv bg-bgasdroite text-txbas pt-2 mb-0 dosis text-center">
                        <a href="" class="lienperso" >
                            <h5 class=" mb-0">PRENDRE RENDEZ-VOUS</h5>
                        </a>
                    </div>

                    <div class="bg-bgasdroite gauchepro">
                        <div class="trianglepInv m-auto"></div>
                    </div>


                </div>
            </div>
            <div class="droiteFormation">
                <div class="container text-right">
                    <img class="img-fluid imageeditor mb-5" id="img_3" alt="" src="https://picsum.photos/500?random=3"/>
                </div>
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_42">{{ articles[42].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_43">{{ articles[43].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_44">{{ articles[44].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_45">{{ articles[45].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_46">{{ articles[46].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_47">{{ articles[47].articles | raw }}
                </div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_48">{{ articles[48].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_49">{{ articles[49].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_50">{{ articles[50].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_51">{{ articles[51].articles | raw }}</div> 
                

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_52">{{ articles[52].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_53">{{ articles[53].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_54">{{ articles[54].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_55">{{ articles[55].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_56">{{ articles[56].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_57">{{ articles[57].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_58">{{ articles[58].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_59">{{ articles[59].articles | raw }}</div> 

                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_60">{{ articles[60].articles | raw }}</h5>
                <div class="krub texteditor mb-2" id="tx_61">{{ articles[61].articles | raw }}</div> 

            </div>
        </div>


</section>
