<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagnerType">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}Coaching & coaching</h3>
                <h5 class="text-txcorps krub espacement texteditor"  id="tx_1">{{ articles[1].articles | raw}}
                    Le coaching utilise des méthodes génériques qui se colorent de par la personnalité du coach. 
                    C’est pourquoi il n’existe pas deux coachings identiques. 
                    La qualité de la relation et de confiance entre le coach et son client est un élément déterminant 
                    pour la réussite d’un coaching. Il est donc nécessaire de partager un certain nombre de valeurs
                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegradeadecio"  role="img" aria-label="Eventail">

        <div class="grid-container-adecio-haut">
            <div class="gauchehautadecio">
                <div class="mb-5">
                    <img class="img-fluid" alt="Karine" src="{{ base_url('assets/images/Karine.jpg') }}"/>
                </div>
            </div>

            <div class="droiteadecio">
                <div class="droitehautadecio">
                    <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"> …l’humain au cœur de l’entreprise</h5> 
                    <div class="krub texteditor" id="tx_6">
                        Puisque l’entreprise est avant tout une communauté humaine et que sa première richesse est faite des hommes qui la composent, mon intervention propose un travail d’humanisation. En effet, plus le monde extérieur est dur, plus il est nécessaire d’apporter de la douceur au sein des relations internes à l’entreprise. C’est le meilleur levier de réussite d’un collectif.
                    </div> 
                </div>
                <div class="droitecentreadecio">
                    <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5">…un coaching intégral</h5> 
                    <div class="krub texteditor" id="tx_6">
                        Dans un accompagnement intégral, je m’appuie sur plusieurs paramètres pour être au plus près des acteurs. Je prends en compte l’individu dans toute sa dimension et le mets en relation avec les équipes, avec l’organisation et avec l’ensemble de l’environnement.
                    </div> 
                </div>
                <div class="droitebasadecio">
                    <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5">Mes différents rôles lors du coaching</h5> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                </div>
            </div>
            <div class="gauchecentreadecio">
                <div class="krubBoldItalic">« Le coaching est l’accompagnement 
                    d’une personne ou d’une équipe à partir 
                    de leurs besoins professionnels 
                    pour développer leurs savoir-faire 
                    et leurs potentiels. » 
                    Définition de la Société Française de Coaching
                </div>
            </div>

            <div class="centreadecio">
                <div class="centrehautadecio">
                    <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"> MA VISION DU COACHING…</h5> 
                    <div class="krub texteditor" id="tx_6">Pour moi, le coaching s’appuie sur les ressources personnelles de l’individu. Chacun a une valeur exceptionnelle et un potentiel spécifique dont la réalisation, pas à pas, permet l’épanouissement personnel et professionnel. 
                    </div> 

                </div>
                <div class="centrecentreadecio">
                    <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"></h5> 
                    <div class="krub texteditor" id="tx_6">Ainsi, le capital humain fait la richesse de l’entreprise et de la société :
                        derrière la performance des chiffres, il y a toujours la performance des hommes. Je m’appuie donc sur le potentiel, 
                       le développement personnel et relationnel des acteurs de l’entreprise pour leur permettre d’exprimer tous leurs talents.
                    </div> 
                </div>
                <div class="centrebasadecio"></div>
            </div>
            <div class="flecheadecio">
                <div class="flechehautadecio">
                     <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
                <div class="flechecentreadecio">
                     <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
            </div>
        </div>
    </div>
</section>