<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagnerType">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}</h3>
                <h5 class="text-txcorps krub espacement texteditor"  id="tx_1">{{ articles[1].articles | raw}}
                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 pb-0 fonddegrade">
        <div class="grid-containerContact pb-5">
            <div class="gaucheContact">
                <p class="texteditor"  id="tx_2">{{ articles[2].articles | raw }}</p>

                <p class="texteditor" id="tx_3">{{ articles[3].articles | raw }}</p>

                <p class="texteditor" id="tx_4">{{ articles[4].articles | raw }}<p>
            </div>
            <div class="centreContact pb-5">
                {{ form_open('', 'id="formContact"') }}
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="name" class="text-txtitre dosisSB text-uppercase">Votre nom</label>
                        <div class="input-group">

                            <input type="text" class="form-control" id="name" placeholder="Votre nom" required>
                            <div class="invalid-feedback">Indiquer votre nom ou Prénom</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="email" class="text-txtitre dosisSB text-uppercase">Votre Email</label>
                        <div class="input-group">

                            <input type="email" class="form-control" id="email" placeholder="Votre email" required>
                            <div class="invalid-feedback">Indiquer votre email</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="message" class="text-txtitre dosisSB text-uppercase">Votre Message</label>
                    <div class="input-group">

                        <textarea id="message" class="form-control" rows="5" placeholder="Votre message" required></textarea>
                        <div class="invalid-feedback">Indiquer votre message</div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" id="form-submit" class="btn btn-success btn-lg ">Envoyer</button> 
                </div>
                {{ form_close() }}
                <div id="msgSubmit" class="text-center invisible">Message envoyé</div>
            </div>
            <div class="droiteContact">
                <div class="row justify-content-end">
                    <div class="container text-center mb-4">
                        <img class="img-fluid" alt="Karine" src="{{ base_url('assets/images/Karine.jpg') }}" width="40%"/>
                    </div>

                    <div class="row">
                        <div class="col-6 krub">
                            <h6>Karine Corbière</h6>
                            <a href="mailto:k.corbiere@adecio.fr?subject=Message%20du%20site%20Adecio&body=Bonjour%20Karine" class="lienrapide"><h6>k.corbiere@adecio.fr</h6></a>
                            <a class="lienrapide" href="tel:+33615337264"><h6>06 15 33 72 64</h6></a>
                        </div>
                        <div class="col-6">
                            <a href="https://www.facebook.com/adecio.karinecorbiere" target="_blanck" class="bi bi-facebook"  style=" color:#3b5998;"></a>
                            <a href="https://www.linkedin.com/in/karine-corbiere-a9369993/" target="_blanck"  class="bi bi-linkedin" style=" color: #0a66c2;"></a>  
                            <a href="https://www.instagram.com/karine.corbiere/?hl=fr"  target="_blanck"  class="bi bi-instagram" style=" color: #000 ;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

