<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagnerType">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}Coaching & coaching</h3>
                <h5 class="text-txcorps krub espacement texteditor"  id="tx_1">{{ articles[1].articles | raw}}
                    Le coaching utilise des méthodes génériques qui se colorent de par la personnalité du coach. 
                    C’est pourquoi il n’existe pas deux coachings identiques. 
                    La qualité de la relation et de confiance entre le coach et son client est un élément déterminant 
                    pour la réussite d’un coaching. Il est donc nécessaire de partager un certain nombre de valeurs
                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegradeadecio"  role="img" aria-label="Eventail">
        <div class="grid-container-adecio-haut">
            <div class="gauchehautadecio">
                <div class="mb-5">
                    <img class="img-fluid" alt="Karine" src="{{ base_url('assets/images/Karine.jpg') }}" width="80%"/>
                </div>
            </div>
            <div class="gauchebasadecio">
                <div class="krubBoldItalic">« Le coaching est l’accompagnement 
                    d’une personne ou d’une équipe à partir 
                    de leurs besoins professionnels 
                    pour développer leurs savoir-faire 
                    et leurs potentiels. » 
                    Définition de la Société Française de Coaching
                </div>
            </div>
            <div class="centrehautadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"> MA VISION DU COACHING…</h5> 
                <div class="krub texteditor" id="tx_6">Pour moi, le coaching s’appuie sur les ressources personnelles de l’individu. Chacun a une valeur exceptionnelle et un potentiel spécifique dont la réalisation, pas à pas, permet l’épanouissement personnel et professionnel. 
                </div> 
            </div>
            <div class="centrebasadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"></h5> 
                <div class="krub texteditor mb-5" id="tx_6">Ainsi, le capital humain fait la richesse de l’entreprise et de la société :
                    derrière la performance des chiffres, il y a toujours la performance des hommes. Je m’appuie donc sur le potentiel, 
                    le développement personnel et relationnel des acteurs de l’entreprise pour leur permettre d’exprimer tous leurs talents.
                </div> 
                <div class="bg-bgbas centrehaut">
                    <div class="trianglep m-auto"></div>
                </div>        
                <div class="bg-bgbas meContacter text-txbas dosis centrehaut py-1 roundedBasAdecio text-center">
                    <a href="{{ base_url('contact#accompagnerType') }}" class="lienpro"><h5 class="my-auto">ME CONTACTER</h5></a>
                </div> 
            </div>
            <div class="flechehautadecio">
                <div class="flechecentreadecio">
                    <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
            </div>
            <div class="flechebasadecio">
                <div class="flechecentreadecio">
                    <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
            </div>
            <div class="droitehautadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"> …l’humain au cœur de l’entreprise</h5> 
                <div class="krub texteditor" id="tx_6">
                    Puisque l’entreprise est avant tout une communauté humaine et que sa première richesse est faite des hommes qui la composent, mon intervention propose un travail d’humanisation. En effet, plus le monde extérieur est dur, plus il est nécessaire d’apporter de la douceur au sein des relations internes à l’entreprise. C’est le meilleur levier de réussite d’un collectif.
                </div> 
            </div>
            <div class="droitebasadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5">…un coaching intégral</h5> 
                <div class="krub texteditor" id="tx_6">
                    Dans un accompagnement intégral, je m’appuie sur plusieurs paramètres pour être au plus près des acteurs. Je prends en compte l’individu dans toute sa dimension et le mets en relation avec les équipes, avec l’organisation et avec l’ensemble de l’environnement.
                </div>
                <div class="mt-5">
                    <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5">Mes différents rôles lors du coaching</h5> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid ml-0 mr-0 "  role="img" aria-label="Eventail">
        <div class="grid-container-adecio2">
            <div class="gaucheadecio2"><h5 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_5">MON HISTOIRE</h5> 
                <div class="krub texteditor mb-5" id="tx_6">Comme beaucoup, j’ai commencé ma carrière par un métier, dans mon cas : opticienne. Cette orientation s’est faite à partir de mon histoire familiale (mon père travaillait dans la lunetterie). En tant qu’opticienne, je mettais toute mon énergie dans l’accueil du client, l’écoute et la recherche de ses besoins afin de l’accompagner au mieux dans le choix de son équipement. En parallèle, j’étais membre active du Centre des Jeunes Dirigeants dans la section Dordogne en région d’Aquitaine. Très vite, mon poste d’opticienne a évolué vers la gestion des ressources humaines. Les opportunités m’ont conduite à encadrer jusqu’à une trentaine de magasins d’optique et une vingtaine de centres d’audition. En tant que cadre dirigeante, j’ai eu l’occasion d’accompagner mes collaborateurs dans l’évolution et la réussite de leur carrière et de mener à bien des projets comme l’obtention de deux certifications qualité en mobilisant les potentiels des équipes. La majorité de mon énergie était concentrée sur les relations interpersonnelles. Je prenais plus de plaisir à faire évoluer les carrières de mes collaborateurs que la mienne! Cette posture m’a amenée à me professionnaliser sur un métier de relation d’aide : le coaching en développement.  Pour cela, je me suis engagée dans une formation de qualité et je poursuis un travail en profondeur sur moi-même pour garantir la création d’un espace de sécurité ontologique. Aujourd’hui, je me sens à ma place et mon ambition est de me mettre au service du déploiement de la compétence de l’autre.
                </div>
            </div>
            <div class="centreadecio2">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_5">Mes valeurs</h5>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    La bienveillance et l’exigence
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    L’authenticité et le respect
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">     
                    La confidentialité et la discrétion
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    La présence et l’engagement
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Le plaisir à mettre en relation
                </div>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Le partage et la générosité
                </div>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Adhésion aux codes de l’EMCC
                </div>
            </div>
            <div class="droiteadecio2">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_5">Leurs mots</h5>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Solaire, présente, légère, douce, délicate, pertinente, connectée à l’énergie du groupe, positive.
                    Femme de terrain, issue de l’opérationnel, son code génétique est l’expérience des entreprises et des équipes, le contact client. Et même selon mes pairs :
                    la magicienne des relations !

                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Merci à vous pour ces mots
                </div>

            </div>
            <div class="centreabasdecio2">
                <div class="roundedHautAdecio prendreRdv bg-bgasdroite text-txbas pt-2 mb-0 dosis text-center">
                    <a href="mailto:k.corbiere@adecio.fr?subject=Message%20du%20site%20Adecio&body=Bonjour%20Karine" class="lienperso" >
                        <h5 class=" mb-0">PRENDRE RENDEZ-VOUS</h5>
                    </a>
                </div>

                <div class="bg-bgasdroite gauchepro">
                    <div class="trianglepInv m-auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ml-0 mr-0 "  role="img" aria-label="Eventail">
        <div class="grid-container-adecio3">
            <div class="gaucheadecio3"></div>
            <div class="centreadecio3"></div>
            <div class="droiteadecio3"></div>
            <div class="titreadecio3"></div>

        </div>
    </div>
</section>