<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagnerType">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h3 class="text-txtitre dosisSB text-uppercase texteditor" id="tx_0">{{ articles[0].articles | raw }}Coaching & coaching</h3>
                <h5 class="text-txcorps krub espacement texteditor"  id="tx_1">{{ articles[1].articles | raw}}
                    Le coaching utilise des méthodes génériques qui se colorent de par la personnalité du coach. 
                    C’est pourquoi il n’existe pas deux coachings identiques. 
                    La qualité de la relation et de confiance entre le coach et son client est un élément déterminant 
                    pour la réussite d’un coaching. Il est donc nécessaire de partager un certain nombre de valeurs
                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegradeadecio"  role="img" aria-label="Eventail">
        <div class="grid-container-adecio-haut">
            <div class="gauchehautadecio">
                <div class="mb-5">
                    <img class="img-fluid" alt="Karine" src="{{ base_url('assets/images/Karine.jpg') }}" width="80%"/>
                </div>
            </div>
            <div class="gauchebasadecio">
                <div class="krubBoldItalic">« Le coaching est l’accompagnement 
                    d’une personne ou d’une équipe à partir 
                    de leurs besoins professionnels 
                    pour développer leurs savoir-faire 
                    et leurs potentiels. » 
                    Définition de la Société Française de Coaching
                </div>
            </div>
            <div class="centrehautadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"> MA VISION DU COACHING…</h5> 
                <div class="krub texteditor" id="tx_6">Pour moi, le coaching s’appuie sur les ressources personnelles de l’individu. Chacun a une valeur exceptionnelle et un potentiel spécifique dont la réalisation, pas à pas, permet l’épanouissement personnel et professionnel. 
                </div> 
            </div>
            <div class="centrebasadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"></h5> 
                <div class="krub texteditor mb-5" id="tx_6">Ainsi, le capital humain fait la richesse de l’entreprise et de la société :
                    derrière la performance des chiffres, il y a toujours la performance des hommes. Je m’appuie donc sur le potentiel, 
                    le développement personnel et relationnel des acteurs de l’entreprise pour leur permettre d’exprimer tous leurs talents.
                </div> 
                <div class="bg-bgbas centrehaut">
                    <div class="trianglep m-auto"></div>
                </div>        
                <div class="bg-bgbas meContacter text-txbas dosis centrehaut py-1 roundedBasAdecio text-center">
                    <a href="{{ base_url('contact#accompagnerType') }}" class="lienpro"><h5 class="my-auto">ME CONTACTER</h5></a>
                </div> 
            </div>
            <div class="flechehautadecio">
                <div class="flechecentreadecio">
                    <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
            </div>
            <div class="flechebasadecio">
                <div class="flechecentreadecio">
                    <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </div>
            </div>
            <div class="droitehautadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5"> …l’humain au cœur de l’entreprise</h5> 
                <div class="krub texteditor" id="tx_6">
                    Puisque l’entreprise est avant tout une communauté humaine et que sa première richesse est faite des hommes qui la composent, mon intervention propose un travail d’humanisation. En effet, plus le monde extérieur est dur, plus il est nécessaire d’apporter de la douceur au sein des relations internes à l’entreprise. C’est le meilleur levier de réussite d’un collectif.
                </div> 
            </div>
            <div class="droitebasadecio">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5">…un coaching intégral</h5> 
                <div class="krub texteditor" id="tx_6">
                    Dans un accompagnement intégral, je m’appuie sur plusieurs paramètres pour être au plus près des acteurs. Je prends en compte l’individu dans toute sa dimension et le mets en relation avec les équipes, avec l’organisation et avec l’ensemble de l’environnement.
                </div>
                <div class="mt-5">
                    <h5 class="text-txtitre dosisSB text-uppercase texteditor"  id="tx_5">Mes différents rôles lors du coaching</h5> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                    <div class="krub texteditor" id="tx_6">
                        Une experte des processus relationnels  tour à tour animatrice, facilitatrice et médiatrice
                    </div> 
                    <hr class="my-1 colorhr">
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid ml-0 mr-0 ">
        <div class="grid-container-adecio2">
            <div class="gaucheadecio2"><h5 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_5">MON HISTOIRE</h5> 
                <div class="krub texteditor mb-5" id="tx_6">Comme beaucoup, j’ai commencé ma carrière par un métier, dans mon cas : opticienne. Cette orientation s’est faite à partir de mon histoire familiale (mon père travaillait dans la lunetterie). En tant qu’opticienne, je mettais toute mon énergie dans l’accueil du client, l’écoute et la recherche de ses besoins afin de l’accompagner au mieux dans le choix de son équipement. En parallèle, j’étais membre active du Centre des Jeunes Dirigeants dans la section Dordogne en région d’Aquitaine. Très vite, mon poste d’opticienne a évolué vers la gestion des ressources humaines. Les opportunités m’ont conduite à encadrer jusqu’à une trentaine de magasins d’optique et une vingtaine de centres d’audition. En tant que cadre dirigeante, j’ai eu l’occasion d’accompagner mes collaborateurs dans l’évolution et la réussite de leur carrière et de mener à bien des projets comme l’obtention de deux certifications qualité en mobilisant les potentiels des équipes. La majorité de mon énergie était concentrée sur les relations interpersonnelles. Je prenais plus de plaisir à faire évoluer les carrières de mes collaborateurs que la mienne! Cette posture m’a amenée à me professionnaliser sur un métier de relation d’aide : le coaching en développement.  Pour cela, je me suis engagée dans une formation de qualité et je poursuis un travail en profondeur sur moi-même pour garantir la création d’un espace de sécurité ontologique. Aujourd’hui, je me sens à ma place et mon ambition est de me mettre au service du déploiement de la compétence de l’autre.
                </div>
            </div>
            <div class="centreadecio2">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_5">Mes valeurs</h5>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    La bienveillance et l’exigence
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    L’authenticité et le respect
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">     
                    La confidentialité et la discrétion
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    La présence et l’engagement
                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Le plaisir à mettre en relation
                </div>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Le partage et la générosité
                </div>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Adhésion aux codes de l’EMCC
                </div>
            </div>
            <div class="droiteadecio2">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor text-center"  id="tx_5">Leurs mots</h5>
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Solaire, présente, légère, douce, délicate, pertinente, connectée à l’énergie du groupe, positive.
                    Femme de terrain, issue de l’opérationnel, son code génétique est l’expérience des entreprises et des équipes, le contact client. Et même selon mes pairs :
                    la magicienne des relations !

                </div> 
                <hr class="my-1 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Merci à vous pour ces mots
                </div>

            </div>
            <div class="centreabasdecio2">
                <div class="roundedHautAdecio prendreRdv bg-bgasdroite text-txbas pt-2 mb-0 dosis text-center">
                    <a href="mailto:k.corbiere@adecio.fr?subject=Message%20du%20site%20Adecio&body=Bonjour%20Karine" class="lienperso" >
                        <h5 class=" mb-0">PRENDRE RENDEZ-VOUS</h5>
                    </a>
                </div>

                <div class="bg-bgasdroite gauchepro">
                    <div class="trianglepInv m-auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ml-0 mr-0 fonddegradeadecio3">
        <div class="grid-container-adecio3">
            <div class="titreadecio3">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor text-center mb-4"  id="tx_5">Ce qu’ils ont retenu de mon accompagnement
                </h5>
            </div>
            <div class="gaucheadecio3">
                <div class="bg-transparent">
                    <div class="trianglepInvAdecio m-auto"></div>
                </div>
                <hr class="my-0 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    Ma problématique concernait la gestion du temps. J’avais le sentiment d’être submergé par une charge de travail importante au moment d’un changement de poste.
                    <br><br> Ce que j’ai apprécié chez Karine Corbière : sa prise de contact simple, empathique et efficace. Cette qualité du relationnel a été déterminante, Karine a su trouver immédiatement la bonne posture pour me mettre à l’aise.
                    <br><br>Aujourd’hui, j’appréhende positivement ma nouvelle vie professionnelle et j’organise plus sereinement mon temps de travail.
                </div> 
                <div class="krub texteditor my-3 text-txtitre text-center" id="tx_6">
                    Djamel HENNI, Cadre dirigeant
                </div>
                <hr class="my-1 colorhr">

            </div>
            <div class="centreadecio3">
                <div class="bg-transparent">
                    <div class="trianglepInvAdeciotr m-auto"></div>
                </div>
                <hr class="my-0 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    En 2015, je travaillais pour la même entreprise depuis environ 14 ans en tant que monteur-vendeur en optique. Ce poste ne me satisfaisait plus vraiment, car il ne me permettait plus d’évoluer.
                    <br> En effet, le BTS opticien lunetier est le sésame pour monter en échelon. Je savais que la seule option était de préparer une VAE, mais je doutais de mes capacités à la préparer seule.
                    <br> Karine Corbière était à l’époque ma supérieure hiérarchique et très vite a repéré en moi le potentiel nécessaire pour obtenir ce diplôme. Elle m’y a donc vivement encouragé avec la force de persuasion et l’optimisme qui la caractérise.
                    <br> Karine m’a accompagnée, motivée et a mis en place une formation interne en réfraction (examen de vue) pour pallier mes lacunes.
                    <br> Un travail personnel d’environ 1 an m’a permis de valider mon BTS en une fois, mais c’est bel et bien Karine qui a su trouver les mots justes et les actions concrètes pour que je me lance dans ce projet.
                    <br>Je la remercie pour sa positive attitude, son sourire, son énergie et sa clairvoyance, car elle repère rapidement les qualités des personnes et sait les mettre en exergue.
                </div> 
                <div class="krub texteditor my-3 text-txtitre text-center" id="tx_6">
                    Laetitia BOULANGER, opticienne 
                </div>
                <hr class="my-0 colorhr">
                <div class="bg-transparent">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
            </div>
            <div class="droiteadecio3">
                <div class="bg-transparent">
                    <div class="trianglepInvAdecio m-auto"></div>
                </div>
                <hr class="my-0 colorhr">
                <div class="krub texteditor my-3" id="tx_6">
                    J’ai appris à manager seule une équipe. Il était difficile pour moi de lâcher prise et de déléguer. Je me suis aperçu que ma méthode avait ses limites et que j’avais besoin d’aide pour ne pas me laisser déborder. L’accompagnement de Karine Corbière m’a permis de prendre du recul sur la situation et de me rendre compte des talents qui m’entouraient.  

                    <br><br> Ce que j’ai particulièrement apprécie : l’écoute, la qualité de nos échanges et la personnalisation de son approche.

                    <br><br>Aujourd’hui, je laisse plus d’autonomie à mon équipe dans la gestion des projets. J’ai compris que « à chacun sa méthode, l’important 
                    est d’arriver au résultat ».   
                </div> 
                <div class="krub texteditor my-3 text-txtitre text-center" id="tx_6">
                    Nadine Tramoy, cadre dirigeante
                </div>
                <hr class="my-1 colorhr">
            </div>


        </div>
    </div>

    <div class="container-fluid ml-0 mr-0 ">
        <div class="grid-container-adecio4">
            <div class="titreadecio4">
                <h5 class="text-txtitre dosisSB text-uppercase texteditor text-center mb-4"  id="tx_5">formations et outils</h5>

            </div>
            <div class="gaucheadecio4 text-center">

                <div class="bg-bgbas gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txbas dosis text-uppercase">FORMÉE COACH & TEAM</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio2 m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_6">
                        Coach & Team ne s’appuie pas sur des techniques ou solutions génériques, mais invite à vivre des transformations identitaires. À savoir :
                        • proposer un coaching intégral :    de la personne, des équipes    et des organisations ; 
                        • à travers toutes les dimensions :    professionnelle, managériale ;
                        • et en prenant en compte les aspects    personnels, corporels et émotionnels   de chaque individu. 

                    </div> 
                    <hr class="my-1 bgcentre colorhr">
                    <div class="krub texteditor my-3" id="tx_6">

                        Cette formation est inscrite au RCNP
                        (en cours de certification, formée par Serge Eskenazi et Nicolas Schilfarth, JBS coaching, 2020-2021)  

                    </div> 
                </div>

            </div>
            <div class="centreadecio4 text-center">
                <div class="bg-bgasdroite gauche roundedHautAdecio py-2 ">
                   <h5 class="text-txbas dosis text-uppercase">Formée en  Programmation <br>Neuro Linguistique (PNL)</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_6">
                        La PNL propose des techniques pour comprendre les processus de communication et les mécanismes du comportement humain. Elle aide à définir et atteindre ses propres objectifs, exploiter ses ressources, augmenter l’estime de soi et mieux gérer ses émotions. Communiquer avec intégrité et développer son acuité sensorielle permet d’enrichir sa vision du monde et d’acquérir de nouveaux comportements.
                        J’utilise la PNL plus particulièrement en séance individuelle.  

                    </div> 
                    <hr class="my-1 bgcentre colorhr">
                    <div class="krub texteditor my-3" id="tx_6">

                        Technicienne PNL, formée par Marie Ouvrard, 
                        ADF Formation, 2020)

                        <br><br>En savoir PLUS SUR LA PNL 

                    </div> 
                </div>
            </div>
            <div class="droiteadecio4 text-center">
                <div class="bg-bgbas gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txbas dosis text-uppercase">Formée à l’écoute active</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio2 m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_6">
                        L’écoute active me permet d’offrir une écoute réelle associée à une reformulation régulière. Le fait de dire et d’entendre avec d’autres mots une idée rend l’implicite (non partagé et personnel) explicite. Cet exercice peut être utilisé en individuel et en collectif afin de passer d’une pensée sous-jacente, d’un non-dit ou d’un malentendu à une compréhension commune

                    </div> 
                    <hr class="my-1 bgcentre colorhr">
                    <div class="krub texteditor my-3" id="tx_6">


                        (CJD Aquitaine, 2002)


                        <br><br En savoir PLUS SUR L’ÉCOUTE ACTIVE
                                CNFCE  
                                </div> 
                    </div>
                </div>
            </div>
            <div class="gauchebasadecio4 text-center">
                <div class="bg-bgasdroite gauche roundedHautAdecio py-2 ">
                    <h5 class="text-txbas dosis text-uppercase">l’analyse transactionnelle</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_6">
                        J’utilise aussi cette méthode complémentaire qui permet d’appréhender les phénomènes intrapsychiques impactant les échanges relationnels (je m’exprime à partir de mes différents états du moi : enfant, adulte, parent). Elle enrichit ma boite à outils pour aider à modifier les comportements problématiques sources de conflit. Elle favorise l’expression responsable et développe l’esprit de coopération.

                    </div> 
                    <hr class="my-1 bgcentre colorhr">
                    <div class="krub texteditor my-3" id="tx_6">

                        En savoir PLUS    WIKIPEDIA    

                    </div> 
                </div>
            </div>
            <div class="centrebasadecio4 text-center">
                <div class="bg-bgbas gauche roundedHautAdecio py-2 ">
                   <h5 class="text-txbas dosis text-uppercase">Formation de formateurs</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio2 m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_6">
                        Rattachée à un organisme de formation certifié Qualiopi, j’ai obtenu la formation de formateurs afin de proposer des formations afin de transmettre mon expertise sur le management, la conduite de réunion, la gestion du temps... 

                    </div> 
                    <hr class="my-1 bgcentre colorhr">
                    <div class="krub texteditor my-3" id="tx_6">

                        Mine de Formateurs  

                    </div> 
                </div>
            </div>
            <div class="broitebasadecio4 text-center">
                 <div class="bg-bgasdroite gauche roundedHautAdecio py-2 ">
                     <h5 class="text-txbas dosis text-uppercase">la communication non violente <br> (CNV)</h5>
                </div>
                <div class="bg-bgcentre gauche ">
                    <div class="trianglepAdecio m-auto"></div>
                </div>
                <div class="bg-bgcentre roundedBasAdecio px-4 py-2">
                    <div class="krub texteditor my-3" id="tx_6">
                        Cette méthode a pour objectif de développer la communication avec authenticité (observation des faits, ce que je ressens, les besoins sous-jacents nourris ou non nourris par ces faits, la demande que je peux formuler). La CNV instaure des relations entre les personnes fondées sur une coopération harmonieuse, sur le respect de soi et des autres. Je l’utilise particulièrement lors de résolution de conflits.
                    </div> 
                    <hr class="my-1 bgcentre colorhr">
                    <div class="krub texteditor my-3" id="tx_6">
                       En savoir PLUS SUR LA CNV   WIKIPEDIA    
                    </div> 
                </div>
            </div>

        </div>
</section>
                
                <script>
    $(document).ready(function() {
        $('.meContacter').on("mouseover", function () {
            $('.centrehaut').removeClass('bg-bgbas');
            $('.centrehaut').css("background-color", '#338f98');
           
        });
        $('.meContacter').on("mouseout", function () {
            $('.centrehaut').addClass('bg-bgbas');
            $('.centrehaut').css("background-color", '');
            
        });
        $('.prendreRdv').on("mouseover", function () {
            $('.gauchepro').removeClass('bg-bgasdroite');
            $('.gauchepro').css("background-color", '#ED638C');
            
        });
        $('.prendreRdv').on("mouseout", function () {
            $('.gauchepro').addClass('bg-bgasdroite');
            $('.gauchepro').css("background-color", '');
            
        });


        $(window).scroll(function () { 
            if ($(this).scrollTop() >= 200 ) {  
               
                $('#scrollUp').css("visibility", "visible");
                $('#scrollUp').css('bottom','50px');
                console.log('sup');
            } else { 
               
                $('#scrollUp').css('visibility','');
               
                console.log('inf');
            }
        });
    });
</script>